@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Poppins:wght@300&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    font-family: "Chicle", serif;
    background-image: url(assets/FonDoMokepon.avif);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: green;
    font-size: 68px;
    
}
.subtitulo{
    color:#FFE31A;
    font-size: 42px;
}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 170px;
    height: 60px;
    background: khaki;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #F96E2A;
    font-size: 25px;
}

.tarjeta-de-mokepon img{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8)  );
    width: 70px;
    height: auto;
}

#boton-mascota {
    width: 160px;
    height: 40px;
    border-radius:20px;
    background-color:#FFF6E3;
    border: 2px solid white;
    color: #F96E2A;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
}

input {
    display: none;
}

input:checked + label {
    background:#ffc21a;  
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background:#C9E6F0 ;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    color:#F96E2A;
    font-family: "Poppins", sans-serif;
}

#mensajes{
    width: 280px;
    background:#FFE31A;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar{
    color:#ABBA7C;
    font-family: "Poppins", sans-serif;
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button{
    width: 80px;
    height: 40px;
    border-radius:20px;
    background-color:#FFF6E3;
    border: 2px solid white;
    color: #F96E2A;
    font-family: "Poppins", sans-serif;
    margin: 10px 0;
}

@media (max-width: 560px){ 
    .tarjetas, .tarjetas-ataques{
        flex-direction: column
    }
}

@media (max-width: 300px){ 
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

    
